@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.662);
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.message {
    font-size: 0.6em;
    color: #ff4c4c;
    background-color: rgba(255, 76, 76, 0.2);
    padding: 3px;
    border-radius: 5px;
    margin-top: 3px;
    display: none; 
    width: auto;
}



.register {
    position: absolute;
    inset: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: #00000033;
    color: #ffff;
    z-index: 1000;
    box-shadow: inset 0 10px 20px #00000080;
    border-bottom: 2px solid #ffffff80;
    transition: 0.5s;
    overflow: hidden;
}

.registerBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin-top: 50px;
    transform: translateY(126px);
    transition: 0.5s;
    margin-bottom: 100px;
} 

.botao {
    padding: 8px 60px; 
    color: #fff; 
    background: #45f3ff;
    border: 2px solid #45f3ff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.1em; 
    margin-left: 25px;
    margin-top: 5px;
}

.botao:hover {
    background-color: #3498db;
    box-shadow: 0 0 10px #45f3ff, 0 0 10px #45f3ff;
    color: #fff;
}


@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.box {
    position: absolute;
    width: 600px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a),
    #ff2770 0%,
    #ff2770 0%,
    transparent 40%,
    #ff2770 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

@keyframes rotating {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),
    #45f3ff 0%,
    #45f3ff 0%,
    transparent 5%,
    transparent 40%,
    #45f3ff 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 5s linear infinite;
    animation-delay: -1s;
}

.box::after {
    position: absolute;
    content: '';
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #2d2d39;
}

.box:hover {
    width: 450px;
    height: 500px;
} 

.box:hover .register {
    inset: 40px;
}

.box:hover .registerBx {
    transform: translateY(0px);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-bottom: 0px;
    margin-top: -180px;
}




h2 i {
    font-size: 20px;
    color: #ff2770;
    text-shadow: none 0 0 5px #ff2770, 0 0 5px #ff2770;
    justify-content: center;
    justify-self: center;
    margin-bottom: -220px;
    margin-top: 200px;

}

input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    background: #0000001a;
    border: 2px solid #fff;
    border-radius: 30px;
    margin-top: 8px;
}

input::placeholder {
    color: #999;
}

input[type="submit"] {
    background: #45f3ff;
    border: none;
    font-weight: 500;
    color: #111;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover {
    box-shadow: 0 0 10px #45f3ff, 0 0 10px #45f3ff;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.group span {
    color: #fff;
}

.group .btn-login {
    padding: 10px 20px;
    color: #ff2770; 
    background: transparent;
    border: 2px solid #ff2770;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.group .btn-login:hover {
    background-color: #ff2770;
    color: #fff;
}
