@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #eee;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.card{
    display: inline-block;
    position: relative;
    width: 270px;
    min-width: 270px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.image{
    height: 70%;
}

.text_container{
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    background-image: linear-gradient(0deg, #f7f6f6, #fb0032);
    border-radius: 30px;
    transform: skew(19deg, -9deg);
}

.text_container:hover{
    background-image: linear-gradient(0deg, #f70031, #f8f8fb);
}


.second .text_container{
    background-image: linear-gradient(-20deg, #060400, #45f3ff);
}
.second .text_container:hover{
    background-image: linear-gradient(-20deg, #45f3ff, #010000);
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    left: 30px;
    bottom: 30%;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.logo img{
    height: 100%;
}

.main_text{
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 150px;
    bottom: 26%;
}

.card_btn{
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    margin-right: -50px;
    margin-bottom: -20px;
    padding: 10px 20px;
    animation: animate 2s ease 0s infinite normal forwards;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}


.card_btn:hover{
    animation: none;
}

.name{
    font-family: Verdana, sans-serif;
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
}